@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import "tailwindcss";
@import "tw-animate-css";
@plugin "@iconify/tailwind4" {
  prefix: "i";
}

@theme {
  --font-inter: "Inter", sans-serif;
}

@utility icon-inline {
  @apply inline-block align-middle;
}

@utility icon-btn {
  @apply text-zinc-500 hover:text-zinc-700 dark:text-zinc-400 dark:hover:text-zinc-200 text-2xl align-middle inline-block;
}

@utility scrollbar-hide {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility scrollbar-default {
  scrollbar-width: auto;
  &::-webkit-scrollbar {
    display: block;
  }
}
